﻿@model BBC_RSS_Feed_Application.Models.IndexAdminBBCFeed


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - BBC RSS Feed List</title>
</head>
<body>
    <div>
        <h2>Home - BBC RSS Feed List</h2>
        @foreach (var item in Model.BBCFeedList)
        {
            @item.Title.ToString(); <br />
            @item.Description.ToString(); <br />
            @Convert.ToDateTime(item.PubDate) <br />
            <a href="@(item.Link)">@item.Link.ToString();</a> <br />
            <br />
        }
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>

    // this function works by checking the minute changed event - used for development as not waiting an hour for the hour changed event...

    @*var minute = moment().minute() + 1;
    var now = null;

    setInterval(function () {
        now = moment().minute();
        if (now === minute) {
            alert("hi, the minute has changed!!!");
            minute = moment().minute() + 1;
            $.ajax({
                url: '@Url.Action("Save", "RSSFeedBBC")',
                success: savedFunction,
                error: errorFunction

            });
        }

    }, 1000);*@


    var hour = moment().hour() + 1;
    var now = null;

    setInterval(function () {
        now = moment().hour();
        if (now === hour) {
            hour = moment().hour() + 1;
            $.ajax({
                url: '@Url.Action("Save", "RSSFeedBBC")',
                dataType: 'JSON',
                success: savedFunction,
                error: errorFunction

            });
        }

    }, 1000);


    function savedFunction(data) {
        if (data.savedOK == true) {
            alert("it saved ok!");
        }
        else {
            alert("save failed!!!");
        }
    }

    function errorFunction(data) {
        alert("save failed!!!");
    }


</script>
